
            body {
                background-color: #f6f6f6;
                font-family: Arial, sans-serif;
            }
            .login {
                background-color: #ffffff;
                border-radius: 5px;
                padding: 20px;
                width: 400px;
                margin: 100px auto;
                box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
            }
            h1 {
                text-align: center;
                color: #4267B2;
                font-size: 30px;
                margin-bottom: 30px;
            }
            .form-label {
                color: #4267B2;
                font-weight: bold;
                margin-bottom: 10px;
            }
            .form-control {
                border: none;
                border-radius: 0px;
                border-bottom: 1px solid #4267B2;
                margin-bottom: 20px;
                padding: 10px;
                width: 100%;
                font-size: 16px;
                color: #4267B2;
                background-color: transparent;
            }
            .form-control:focus {
                outline: none;
                border-color: #4CAF50;
            }
            .btn-primary {
                background-color: #4CAF50;
                border: none;
                border-radius: 5px;
                color: white;
                cursor: pointer;
                font-size: 16px;
                padding: 10px;
                width: 100%;
                margin-top: 20px;
                transition: background-color 0.3s ease;
            }
            .btn-primary:hover {
                background-color: #357a38;
            }
            h2 {
                text-align: center;
                color: #4267B2;
                font-size: 20px;
                margin-top: 30px;
            }
            select.placeholder option {
                color: #aaa;
            }